<div class="panel panel-default">
  <div class="panel-heading">
    <h4>{{comment.author}}</h4>
    <h4>{{comment.date}}</h4>
  </div>
  <div class="panel-body">
    <p>
      {{comment.body}}
    </p>
  </div>
</div>
