<div class="row">
  {{#each model as |blog|}}
    {{#if blog.dailyStory}}
      {{featured-entry blog=blog update="update" destroyEntry="destroyEntry"}}
    {{/if}}
  {{/each}}
  {{#each model as |blog|}}
    {{#unless blog.dailyStory}}
      {{blog-entry blog=blog update="update" destroyEntry="destroyEntry"}}
    {{/unless}}
  {{/each}}
</div>
